<div class="auth-page">
  <div class="auth-card">
    <h1>Edit <%= @user.name %></h1>

    <%= form_with model: @user do |f| %>
      <% if @user.errors.any? %>
        <div class="flash flash-alert">
          <% @user.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email, "Email (used to sign in)" %>
        <%= f.email_field :email, placeholder: "email@example.com" %>
      </div>
      <div class="field field-check">
        <%= f.check_box :admin %>
        <%= f.label :admin, "Admin privileges" %>
      </div>
      <div class="form-actions">
        <%= f.submit "Save Changes" %>
        <%= link_to "Cancel", users_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
